:root {
    --size: calc(1vh + 1vw);
}

body {
    font-family: raleway-custom, sans-serif;
    background-color: #333333;
    color: white;
}

.header {
    height: 100vh;
    position: relative;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header:after {
    content: '';

    height: calc(var(--size) * 10);
    width: 100%;

    position: absolute;
    bottom: calc(var(--size) * -4.5);

    background-image: url("/img/ground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 100;
}

.layer {
    position: absolute;

    height: 100%;
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    will-change: transform;

    z-index: 2;
}

.layer-title {
    transform: translate(0, calc(var(--scrollTop) / 1.8));
    z-index: 1;

    font-weight: 900;
}

.layer-title > h4 {
    text-transform: capitalize;
}

.layer-title > h2 {
    font-size: 50px;
    text-transform: uppercase;
}

.layer-base {
    z-index: 0;
    background-image: url("/img/layer-base.png");
    transform: translate(0, calc(var(--scrollTop) / 1.6));
}

.layer-middle {
    background-image: url("/img/layer-middle.png");
    transform: translate(0, calc(var(--scrollTop) / 2.5));
}

.layer-front {
    background-image: url("/img/layer-front.png");
    transform: translate(0, calc(var(--scrollTop) / 5.5));
}

.main-content {
    min-height: 100vh;

    background-image: url("/img/dungeon.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
