body {
    font-family: raleway-custom, sans-serif;
    background-color: #333333;
    color: white;
}

.header {
    height: 100vh;
    position: relative;
}

.layer {
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.layer-base {
    background-image: url("/img/layer-base.png");
}

.layer-middle {
    background-image: url("/img/layer-middle.png");
}

.layer-front {
    background-image: url("/img/layer-front.png");
}
