body {
    font-family: raleway-custom, sans-serif;
    background-color: #333333;
    color: white;
}

.header {
    height: 100vh;
    position: relative;

    overflow: hidden;
}


.layer {
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    will-change: transform;
}

.layer-base {
    background-image: url("/img/layer-base.png");
    transform: translate(0, calc(var(--scrollTop) / 1.6));
}

.layer-middle {
    background-image: url("/img/layer-middle.png");
    transform: translate(0, calc(var(--scrollTop) / 2.5));
}

.layer-front {
    background-image: url("/img/layer-front.png");
    transform: translate(0, calc(var(--scrollTop) / 5.5));
}

.main-content {
    min-height: 100vh;

    background-image: url("/img/dungeon.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
